/* src/Editor.css */
.editor-container {
    border: 1px solid #231d1d;
    box-shadow: 10px 6px 10px rgba(72, 72, 72, 0.1);
    border-radius: 4px;
    padding: 10px;
    /* max-width: 800px; */
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .toolbar {
    margin-bottom: 10px;
  }
  
  button {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #d8e1ea;
    color: rgb(47, 39, 39);
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #ab45c7;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .tiptap-editor {
    min-height: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }